table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 5px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  border: 1px solid #ddd;
}

.reserved {
  background-color: #ffcccc;
}

.selected {
  background-color: #b3d9ff;
}


.fecha-header {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  /* Ajusta el color de fondo según tus necesidades */
  z-index: 1;
}

.habitaciones-header {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff;
  /* Cambia el color de fondo según tus necesidades */
}


.table-container {
  position: relative;
  overflow: auto;
  /* Ajusta la altura según tus necesidades */
}

/** toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.toolbar-btns {
  display: flex;
  align-items: center;
}

.toolbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toolbar-btn:hover {
  background-color: #ddd;
}

.toolbar-month {
  font-size: 18px;
  font-weight: bold;
}

td.reserved {
  border-right: none;
}

td.reserved+td.reserved {
  border-left: none;
}


.table-container {
  position: relative;
  overflow: auto;
  height: 600px;
  /* Ajusta la altura según tus necesidades */
}

.reserved {
  position: relative;
}

.first-reservation {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 2px !important;
  margin-left: 5px !important;
  padding-left: 5px !important;

  content: '<div>RESERVA</div>';
}
.last-reservation {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 2px !important;
  margin-right: 5px !important;
  padding-right: 5px !important;

  content: '<div>RESERVA</div>';
}
.feriado {
  background-color: rgb(236, 71, 71);
  color: white;
}
/**div flotante*/
.td-container {
  position: relative;
}

.div-superpuesto {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 60;
  position: absolute;
  top: 10px;
  left: 34px;
  padding: 5px;
  font-size: small;
  text-transform:capitalize;
}
.width-small{
  max-width: 20px;
}
.width-medium{
  max-width: 90px;
}
.width-large{
  max-width: 250px;
}