<form [formGroup]="primaryForm" (ngSubmit)="create()">
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase;">REGISTRAR VEHÍCULO</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-md-4">
                    <label class="small mb-1" for="tag">Estacionamiento</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uppercaseInput formControlName="parking">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="small mb-1" for="tag">Tipo</label>
                    <div class="input-group">
                        <select class="form-control" formControlName="type">
                            <option value="AUTOMÓVIL">AUTOMÓVIL</option>
                            <option value="CAMIONETA">CAMIONETA</option>
                            <option value="ST. WAGON">ST. WAGON</option>
                            <option value="SUVs">SUVs</option>
                            <option value="CAMIÓN">CAMIÓN</option>
                            <option value="FURGÓN">FURGÓN</option>
                            <option value="MOTOCICLETA">MOTOCICLETA</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="small mb-1" for="tag">P.P.U</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uppercaseInput  formControlName="ppu">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="small mb-1" for="tag">Marca</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uppercaseInput formControlName="brand">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="small mb-1" for="tag">Modelo</label>
                    <div class="input-group">
                        <input type="text" class="form-control" uppercaseInput formControlName="model">
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="small mb-1" for="tag">Año</label>
                    <div class="input-group">
                        <select class="form-control" formControlName="year">
                            <option *ngFor="let year of years" [value]="year">{{year}}</option>
                        </select>
                        <span class="input-group-text" id="basic-addon1"><i
                            class="fa-solid fa-calendar-days"></i></span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary w-100" type="submit">REGISTAR</button>
        </div>
    </div>
</form>
