<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-4">
        <div *ngIf="action=='create'; else edt">
            <app-add-category (success)="getCategorys()"></app-add-category>
        </div>
        <ng-template #edt>
            <app-edit-category [id]="editId" (finish)="getCategorys()"></app-edit-category>
        </ng-template>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-8">
        <div class="card h-100">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="card-title">LISTADO</h3>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">

                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>ID</span></th>
                                <th><span>TAG</span></th>
                                <th><span>DESCRIPCIÓN</span></th>
                                <th><span>CATEGORIA</span></th>
                                <th><span>ESTADO</span></th>
                                <th><span>FECHA CREACIÓN</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of items">
                                <td>
                                    <span>{{item.id}}</span>
                                </td>
                                <td>
                                    {{item.tag}}
                                </td>
                                <td>
                                    <span *ngIf="item.detail; else notDetail">{{item.detail}}</span>
                                    <ng-template #notDetail><span class="text-warning">Sin descripción</span>
                                    </ng-template>
                                </td>
                                <td>
                                    {{item.category}}
                                </td>
                                <td>
                                    {{item.state}}
                                </td>
                                <td>
                                    {{item.created_at}}
                                </td>
                                <td>
                                    <button type="button" class="btn   text-warning" (click)="update(item.id)">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </button>
                                    <button type="button" class="btn  text-danger" (click)="openDelete(item.id,remove)">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<ng-template #remove let-c="close" let-d="dismiss">
    <form (submit)="delete()" novalidate [formGroup]="primaryForm">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Eliminar categoria</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <p>¿Esta seguro que desea eliminar esta categoria?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">No</button>
            <button type="submit" ngbAutofocus class="btn btn-danger">Si</button>
        </div>
    </form>
</ng-template>