<div class="card" *ngIf="rooms_id>0 && !addnew">
    <div class="card-header text-center" style="text-transform: uppercase;">AGREGAR SERVICIO<br>
        <i class="fa-solid fa-wifi"></i><i class="fa-solid fa-tv ms-1"></i> <i
            class="fa-solid fa-square-parking ms-1"></i>
    </div>
    <div class="card-body">
        <form [formGroup]="form2">
            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04" formControlName="amenities_id">
                    <option value="0" selected>SELECCIONE</option>
                    <option *ngFor="let item of amenities" [value]="item?.id">{{item.tag | uppercase}}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" (click)="addnew=true"><i
                            class="fa-solid fa-circle-plus"></i></button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="addRoomService()" [disabled]="!amenities?.length && form2.get('amenities_id')?.value==0"
                        type="button">INCLUIR</button>
                </div>
            </div>
        </form>

    </div>
</div>

<form [formGroup]="form" (ngSubmit)="create()" *ngIf="addnew || rooms_id==0">
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase;">CREAR NUEVO<br>
            <i class="fa-solid fa-wifi"></i><i class="fa-solid fa-tv ms-1"></i> <i
                class="fa-solid fa-square-parking ms-1"></i>
        </div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="small mb-1" for="room_number">Nombre</label>
                    <input type="text" class="form-control" formControlName="tag">
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="room_type">Descripción</label>
                    <input type="text" class="form-control" formControlName="detail">
                </div>
            </div>
            <button class="btn btn-primary w-100" type="submit">CREAR
                SERVICIO</button>
        </div>
    </div>
</form>