<div class="container-fluid px-4 mt-4">
    <hr class="mt-0 mb-4">
    <form novalidate [formGroup]="primaryForm" (ngSubmit)="update()">
        <div class="row">
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Nuevo articulo</div>
                    <div class="card-body">

                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Titulo (Max 50 caracteres)</label>
                            <input class="form-control" id="title" type="text" placeholder="Escriba el titulo de la noticia" formControlName="title">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputFirstName">Descripción</label>
                            <input class="form-control" id="inputFirstName" type="text" placeholder="Breve descripción de la noticia" formControlName="detail">
                        </div>
                        <div class="row gx-3 mb-3">

                            <div class="col-md-4">
                                <label class="small mb-1" for="inputLocation">Imagen Principal</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="image1">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-success" (click)="openRepository('image1',repo)" id="btnGroupAddon"><i
                                                class="fa-solid fa-folder-open"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="small mb-1" for="inputLocation">Imagen adicional</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="image2">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-success" (click)="openRepository('image2',repo)" id="btnGroupAddon"><i
                                                class="fa-solid fa-folder-open"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="small mb-1" for="inputLocation">Imagen adicional</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="image3">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-success" (click)="openRepository('image3',repo)" id="btnGroupAddon"><i
                                                class="fa-solid fa-folder-open"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="small mb-1" for="vyoutube">Video Youtube</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-danger" id="basic-addon1"><i
                                                class="fa-brands fa-youtube"></i></span>
                                    </div>
                                    <input type="text" class="form-control" [disabled]="true" *ngIf="primaryForm.get('vyoutube').value" value="VIDEO AGREGADO">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-success" (click)="openYoutube('vyoutube',youtube)" id="btnGroupAddon"><i
                                                class="fa-solid fa-circle-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-4">
                                <div class="mb-1">
                                    <label for="category_id" class="form-label">Categoria</label>
                                    <select id="category_id" class="form-control" formControlName="category_id">
                                        <option value="0">SELECCIONE</option>
                                        <option *ngFor="let item of categorys" value="{{item.id}}">{{item.tag |
                                            uppercase}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-1">
                                    <label for="state_id" class="form-label">Estado</label>
                                    <select id="state_id" class="form-control" formControlName="state_id">
                                        <option *ngFor="let item of status" value="{{item.id}}">{{item.tag | uppercase}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-1">
                                    <label for="category_id" class="form-label">Destacado</label>
                                    <select id="category_id" class="form-control" formControlName="front">
                                        <option value="0">No</option>
                                        <option value="1">Si</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-12">
                                <label class="small mb-1" for="inputEmailAddress">Articulo</label>
                                <app-editor-html [form]="primaryForm" placeholder="Escriba el contenido de su noticia">
                                </app-editor-html>
                            </div>
                        </div>

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <input type="submit" class="btn  btn-primary" value="GUARDAR" />
                            <button type="button" class="btn  btn-warning" routerLink="/noticias/listado"><i
                                    class="fa-solid fa-angle-left"></i> VOLVER</button>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="blog-card blog-card-blog">
                    <div class="blog-card-image">
                        <a href="#"> <img class="img" *ngIf="primaryForm.get('image1')?.value" [src]="primaryForm.get('image1')?.value"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table" *ngIf="primaryForm.get('title')?.value">
                        <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> Noticias</h6>
                        <h4 class="blog-card-caption">
                            <a href="#">{{primaryForm.get('title')?.value | uppercase}}</a>
                        </h4>
                        <p class="blog-card-description">{{primaryForm.get('detail')?.value}}
                        </p>
                        <div class="ftr">
                            <div class="author">
                                <img class="avatar img-raised" *ngIf="profile.thumbnail;" [src]="profile.thumbnail"><span><i>Autor</i> {{profile.name}}</span>
                            </div>
                            <!--<div class="stats"> <i class="far fa-clock"></i> 0 min </div>-->
                        </div>
                    </div>
                </div>
                <div class="blog-card blog-card-blog p-3" *ngIf="primaryForm.get('vyoutube').value">
                    <h6>Video agregado </h6>
                    <iframe width="100%" height="100%" [src]="viewYoutube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="blog-card blog-card-blog p-3" *ngIf="primaryForm.get('image2')?.value || primaryForm.get('image3')?.value">
                    <h6>Imagenes adicionales</h6>
                    <hr>
                    <div class="file-box ml-1">
                        <img class="img-fluid" *ngIf="primaryForm.get('image2')?.value" [src]="primaryForm.get('image2')?.value">

                    </div>
                    <div class="file-box ml-1">
                        <img class="img-fluid" *ngIf="primaryForm.get('image3')?.value" [src]="primaryForm.get('image3')?.value">
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


<ng-template #repo let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-repository-image (onSelected)="onSelectedImage($event.link)"></app-repository-image>
    </div>
</ng-template>

<ng-template #youtube let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h6>Insertar Video Youtube</h6>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Ingrese a youtube, copie y pegue la dirección URL <br><span class="text-muted">(ej:
                https://www.youtube.com/watch?v=CCPQIZ0HUbw)</span></p>
        <label for="basic-url">Peque aquí <i class="fa-solid fa-arrow-down"></i></label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="urlYoutube">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa-brands fa-youtube mt-1 text-danger"></i></span>
            </div>
        </div>
        <button *ngIf="urlYoutube" type="button" (click)="addVideoYoutube()" class="btn btn-round btn-success mt-2"><i
                class="fa-solid fa-check-double"></i></button>
    </div>
</ng-template>