<section class="py-6 bg-light-primary" *ngIf="isActive">
    <div class="container">
        <div class="row justify-content-center text-center mb-4">
            <div class="col-xl-6 col-lg-8 col-sm-10">
                <h2 class="font-weight-bold">MODULO HOTELERO</h2>
                <p class="text-muted mb-0">Modulo configuración, gestión de habitaciones y reservas</p>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center px-xl-6 aos-init aos-animate"
            data-aos="fade-up">

            <div class="col my-3">
                <div class="card card-margin card-btn" routerLink="habitaciones">
                    <div class="card-header no-border text-muted">
                        <h5 class="card-title">HABITACIONES</h5>
                    </div>
                    <div class="card-body pt-0 card-content">
                        <i class="fa-solid fa-bed fa-5x"></i>
                    </div>
                    <div class="card-footer">
                        Configuración, vista general.
                    </div>
                </div>
            </div>
            <div class="col my-3">
                <div class="card card-margin card-btn" routerLink="proveedores">
                    <div class="card-header no-border">
                        <h5 class="card-title ">RESERVAS</h5>
                    </div>
                    <div class="card-body pt-0 card-content">
                        <i class="fa-solid fa-briefcase fa-5x"></i>
                    </div>
                    <div class="card-footer">
                        Configuración, vista general.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>