<div class="container-fluid px-4 mt-4 mb-5">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card h-100">
                <div class="card-header">

                    <div class="btn-group float-right" role="group">
                        <button *ngIf="!hiddenButton" class="btn btn-primary" (click)="openModal(add)"><i class="fa-solid fa-circle-plus"></i>
                            Nuevo</button>
                    </div>

                </div>
                <div class="card-body">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="perpage"
                        (pageChange)="search()"></ngb-pagination>
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span>NOMBRE</span></th>
                                    <th><span>RUT</span></th>
                                    <th><span>TELEFONO</span></th>
                                    <th><span>EMAIL</span></th>
                                    <th><span>FECHA CREACIÓN</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="personDefault">
                                    <td>
                                        <span>{{personDefault?.person?.name | uppercase}}</span>
                                    </td>
                                    <td>
                                        <span>{{personDefault?.person?.rut | uppercase}}</span>
                                    </td>
                                    <td>
                                        <span>{{personDefault?.person?.phone | uppercase}}</span>
                                    </td>
                                    <td>
                                        <span>{{personDefault?.person?.email | uppercase}}</span>
                                    </td>
                                    <td>
                                        {{personDefault?.person?.created_at}}
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example"
                                            *ngIf="!personDefault?.callBack; else callback">
                                            <button *ngIf="!hiddenButton" type="button" class="btn   text-warning"
                                                (click)="openEdit(personDefault?.person?.id,edit)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button type="button" class="btn  text-danger"
                                                (click)="openDelete(personDefault?.person?.id,remove)">
                                                <i class="fa-solid fa-trash"></i>

                                            </button>
                                        </div>
                                        <ng-template #callback>
                                            <button type="button" class="btn   text-warning"
                                            (click)="personDefault?.callBack && personDefault.callBack(personDefault?.person)">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        </ng-template>
                                    </td>
                                </tr>
                                <tr *ngFor="let item of items">
                                    <td>
                                        <span>{{item.name | uppercase}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.rut | uppercase}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.phone | uppercase}}</span>
                                    </td>
                                    <td>
                                        <span>{{item.email | uppercase}}</span>
                                    </td>
                                    <td>
                                        {{item.created_at}}
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                            <button *ngIf="!hiddenButton" type="button" class="btn   text-warning"
                                                (click)="openEdit(item.id,edit)">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                            <button type="button" class="btn  text-danger"
                                                (click)="openDelete(item.id,remove)">
                                                <i class="fa-solid fa-trash"></i>

                                            </button>
                                        </div>

                                    </td>
                                </tr>
                                <tr *ngIf="!items && !personDefault">
                                    <td colspan="7" class="fw-lighter text-muted">No se encontraron registros</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #remove let-c="close" let-d="dismiss">
    <form (submit)="delete()" novalidate [formGroup]="secondForm">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Eliminar registro</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Esta seguro que desea eliminar este registro?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">No</button>
            <button type="submit" ngbAutofocus class="btn btn-danger">Si</button>
        </div>
    </form>
</ng-template>

<ng-template #add let-c="close " let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-add-contact *ngIf="(reservations_id>0) || (clients_id>0) || (providers_id>0)" [clientsId]="clients_id" [reservationsId]="reservations_id" [hidePosition]="(reservations_id>0)"  [providersId]="providers_id" (success)="getContacts()" />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>


<ng-template #edit let-c="close " let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-edit-contact [contactId]="idSelected" [clientsId]="clients_id" [hidePosition]="(reservations_id>0)" [providersId]="providers_id" [reservationsId]="reservations_id"
            (success)="getContacts()" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>