<form [formGroup]="primaryForm" (ngSubmit)="update()">
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase;"> {{title}}</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="small mb-1" for="name">Nombre</label>
                    <div class="input-group">
                        <input type="text" class="form-control text-capitalize" formControlName="name">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="lastname">Apellidos</label>
                    <div class="input-group">
                        <input type="text" class="form-control text-capitalize" formControlName="lastname">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="rut">RUT/IDENTIFICACIÓN</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-id-card"></i></span>
                        <input type="text" class="form-control" formControlName="rut">
                    </div>
                </div>
                <div class="col-md-12" *ngIf="!hidePosition">
                    <label class="small mb-1" for="position">Cargo</label>
                    <input type="text" class="form-control" formControlName="position">
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="location">Dirección</label>
                    <input type="text" class="form-control" formControlName="location">
                </div>
                <div class="col-md-6 col-sm-12">
                    <label class="small mb-1" for="email">Email</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-regular fa-envelope"></i></span>
                        <input type="email" class="form-control" placeholder="Email  contacto" formControlName="email">
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label class="small mb-1" for="phone">Tel.</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-phone"></i></span>
                        <input type="email" class="form-control" placeholder="Telefono contacto" formControlName="phone">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="whatsapp">Whatsapp</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-brands fa-whatsapp"></i></span>
                        <input type="email" class="form-control" placeholder="Whatsapp" formControlName="whatsapp">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary w-100" type="submit">GUARDAR CAMBIOS</button>
        </div>
    </div>
</form>

<ng-template #repository let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-repository-image (onSelected)="primaryForm.get('image').setValue($event)"></app-repository-image>
    </div>
</ng-template>