<form [formGroup]="primaryForm" (ngSubmit)="create()">
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase;">NUEVA NOTA</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="small mb-1" for="tag">Nombre</label>
                    <div class="input-group">
                        <input type="text" class="form-control text-capitalize" formControlName="tag">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="lastname">Contenido</label>
                    <div class="input-group">
                        <div style="border: #e9e9e9 solid 1px; min-height:250px; width:100%;"><app-editor-html [form]="primaryForm" [myToolbar]="toolbar"></app-editor-html></div>
                    </div>
                </div>

            </div>
            <button class="btn btn-primary w-100" type="submit">CREAR</button>
        </div>
    </div>
</form>

<ng-template #repository let-c="close" let-d="dismiss">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

    </div>
</ng-template>