<ul class="navbar-nav shadow text-white sidebar" [ngClass]="{ 'sidebar-hidden': sidebarVisible }">

    <a class="sidebar-brand" routerLink="/">
        <div class="sidebar-brand-icon">
            <img [defaultImage]="'beda'" [src]="company?.logo" style="max-width: 50px; max-height: 50px;">
            <div class="sidebar-brand-text">{{company?.domain || 'bedadev.cl'}}</div>
        </div>
    </a>

    <hr class="sidebar-divider my-0">
    <li class="nav-item shadow-lg">
        <a class="nav-link d-flex flex-column align-items-center" routerLink="/" routerLinkActive="item-active"
            [routerLinkActiveOptions]="{exact: true}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span></a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item shadow-lg" *ngIf="level>9">
        <a class="nav-link d-flex flex-column align-items-center" routerLink="/configuracion"
            routerLinkActive="item-active">
            <i class="fa-solid fa-pen-ruler"></i>
            <span>AJUSTES</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item shadow-lg" *ngIf="level>9">
        <a class="nav-link d-flex flex-column align-items-center" routerLink="/inventario"
            routerLinkActive="item-active">
            <i class="fa-solid fa-boxes-packing"></i>
            <span>Logística</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <li class="nav-item shadow-lg">
        <a class="nav-link d-flex flex-column align-items-center" routerLink="/hotel" routerLinkActive="item-active">
            <i class="fa-solid fa-square-h"></i>
            <span>Gestión</span>
        </a>
    </li>
    <app-clock-digital />
</ul>
