.bg-sidebar {
    background: rgb(66, 66, 66) !important;
    background: linear-gradient(40deg,rgb(82,136,231) 0%, rgb(45, 45, 45)   70%) !important;
  
}
.sidebar {
    width: 6rem !important;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.sidebar-brand {
    top: 0 !important;
    margin-bottom: 2em;
}
.sidebar .nav-item {
    display: flex;
    justify-content: center;
}
.item-active {
    width: 80%;
    margin-left: 15px;
    background-color: #f8f9fc;
    padding-left: 15px !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #474747;
    font-weight: 400;
}

.sidebar-brand-text {
    font-size: 0.6em !important;
    font-weight: 400 !important;
    margin-bottom: 5px;
    color: white;
}



.nav-item a {
    text-transform: uppercase;
    font-size: medium;
}

.nav-item a i {
    margin-bottom: 5px;
    color: #7d7fcb !important;
    font-size:medium;
}

.nav-item a:hover {
    color: #375ac2 !important;
    background-color: aliceblue;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.nav-item i {
    color: #919191 !important;
}



#sidebarToggle {
    background-color: var(--primary);
}

#sidebarToggle:hover {
    background-color: var(--secondary);
}

.sidebar-heading {
    color: #726e6e;
}


.sidebar.toggled {
    transform: translateX(0);
}

.sidebar {
    transition: transform 0.3s ease;
}

.sidebar-hidden {
    transform: translateX(-20%);
    width: 0 !important;
    overflow: hidden;
    transition: width 0.3s ease, transform 0.3s ease;
}