<ul class="navbar-nav shadow text-white sidebar  accordion toggled" id="accordionSidebar">

    <a class="sidebar-brand bg-header d-flex align-items-center justify-content-center" routerLink="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <img src="/assets/images/beda.png" style="max-width: 40px; max-height: 50px;">
        </div>
        <div class="sidebar-brand-text mx-3">BEDADEV</div>
    </a>

    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" routerLink="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading text-bg-danger">
        ADMIN
    </div>
    <li class="nav-item">
        <a class="nav-link" routerLink="/configuracion">
            <i class="fa-solid fa-pen-ruler"></i>
            <span>GENERAL</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading text-bg-danger">
        INVENTARIO
    </div>

    <li class="nav-item shadow-lg">
        <a class="nav-link" routerLink="/inventario">
            <i class="fa-solid fa-boxes-packing"></i>
            <span>Logística</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading text-bg-danger">
        HOTEL
    </div>
    <li class="nav-item shadow-lg">
        <a class="nav-link" routerLink="/hotel">
            <i class="fa-solid fa-square-h"></i>
            <span>Gestión</span>
        </a>
    </li>
</ul>