<div class="container-fluid px-4 mt-4 mb-5">
    <hr class="mt-0 mb-4">

    <div class="row">
        <div class="col-xl-12">
            <div class="card h-100">
                <div class="card-header">
                    Movimientos
                    <div class="row">
                        <div class="col-md-6">
                            <app-toolbar-search (onSearch)="search($event)" [hideFilter]="true"
                                [placeholder]="'Buscar Producto'" />
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group float-right" role="group">                                                           
                                <app-toolbar-search (onClickButtonToolbar)="actionButton($event)" [toolbar]="btn_toolbar" [toBack]="true" (onFilter)="filterMovements($event)"
                                    [hideSearch]="true"  [filters]="filters" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="perpage"
                        (pageChange)="getMovements()"></ngb-pagination>
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span></span></th>
                                    <th><span>SKU/SERIE/COD</span></th>
                                    <th><span>DESCRIPCIÓN</span></th>
                                    <th><span>STOK INICIAL</span></th>
                                    <th><span>STOK FINAL</span></th>
                                    <th><span>FECHA</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="items else nofound">
                                <tr *ngFor="let item of items">
                                    <td>
                                        <span *ngIf="item.type==1" class="badge badge-success"><i
                                                class="fa-solid fa-arrow-up"></i> ENTRADA</span>
                                        <span *ngIf="item.type==2" class="badge badge-danger"><i
                                                class="fa-solid fa-arrow-down"></i> SALIDA</span>
                                                <span *ngIf="item.type==3" class="badge badge-warning"><i class="fa-solid fa-arrow-right-arrow-left"></i> TRASPASO</span>
                                    </td>
                                    <td>
                                        <span>{{item?.serie|| item?.barcode || item?.sku || "--"}} </span>
                                    </td>
                                    <td>
                                        <span>{{item?.name | uppercase}}</span>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.instk<item.outstk"
                                            class="text-bg-danger text-bold text-circle"><span
                                                *ngIf="item.instk<10">&nbsp;</span>{{item?.instk}}<span
                                                *ngIf="item.instk<10">&nbsp;</span></span>
                                        <span *ngIf="item.instk>item.outstk"
                                            class="text-bg-success text-bold text-circle"><span
                                                *ngIf="item.instk<10">&nbsp;</span>{{item?.instk}}<span
                                                *ngIf="item.instk<10">&nbsp;</span></span>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="item.instk>item.outstk"
                                            class="text-bg-danger text-bold text-circle"><span
                                                *ngIf="item.outstk<10">&nbsp;</span>{{item.outstk}}<span
                                                *ngIf="item.outstk<10">&nbsp;</span></span>
                                        <span *ngIf="item.instk<item.outstk"
                                            class="text-bg-success text-bold text-circle"><span
                                                *ngIf="item.outstk<10">&nbsp;</span>{{item.outstk}}<span
                                                *ngIf="item.outstk<10">&nbsp;</span></span>
                                    </td>
                                    <td>
                                        {{item.created_at}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn  text-info"
                                            (click)="openModal(view,item,'md')">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa-solid fa-eye fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <ng-template #nofound>
                                <tbody>
                                    <tr>
                                        <td class="text-muted" colspan="8">No se encontraron registros</td>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #view let-c="close " let-d="dismiss ">
    <div class="modal-header ">
        <h4 class="modal-title" id="modal-basic-title">Registro de movimiento</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="col-md-12">
                <span *ngIf="form.get('type').value==1" class="badge badge-success">
                    <i class="fa-solid fa-arrow-up"></i>
                    ENTRADA</span>
                <span *ngIf="form.get('type').value==2" class="badge badge-danger"><i
                        class="fa-solid fa-arrow-down"></i> SALIDA</span>
            </div>
            <label for="name">Producto:</label>
            <div class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre producto" formControlName="name">
            </div>
            <label *ngIf="form.get('barcode').value" for="name">Cod. barras:</label>
            <div *ngIf="form.get('barcode').value" class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-barcode"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Codigo de barras" formControlName="barcode">
            </div>
            <label *ngIf="form.get('sku').value" for="name">SKU:</label>
            <div *ngIf="form.get('sku').value" class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-barcode"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="SKU" formControlName="sku">
            </div>
            <label *ngIf="form.get('user').value" for="name">USUARIO:</label>
            <div *ngIf="form.get('user').value" class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Usuario" formControlName="user">
            </div>
            <label *ngIf="item?.client" for="name">CLIENTE:</label>
            <div *ngIf="item?.client"class="input-group mb-1">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa-solid fa-people-arrows"></i></span>
                </div>
                <span class="form-control" *ngIf="item?.client">{{item?.client?.name}}</span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="d('Cross click')">
            <i class="fa-solid fa-circle-xmark"></i> Cerrar</button>
    </div>
</ng-template>
