<form [formGroup]="form1" (ngSubmit)="create()">
  <div class="card">
    <div class="card-header text-center" style="text-transform: uppercase">
      NUEVO USUARIO
    </div>
    <div class="card-body">
      <div class="row gx-3 mb-3">
        <div class="col-md-12">
          <label class="small mb-1" for="name">Nombre</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control text-capitalize"
              formControlName="name"
              uppercaseInput
            />
          </div>
        </div>
        <div class="col-md-12">
          <label class="small mb-1" for="lastname">Apellidos</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control text-capitalize"
              formControlName="lastname"
              uppercaseInput
            />
          </div>
        </div>
        <div class="col-md-12">
          <label class="small mb-1" for="rut">RUT/IDENTIFICACIÓN</label>
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fa-solid fa-id-card"></i
            ></span>
            <input
              type="text"
              class="form-control"
              formControlName="rut"
              uppercaseInput
              (keyup)="onFormatRut($event)"
            />
          </div>
        </div>
        <div class="col-md-12">
          <label class="small mb-1" for="location">Contraseña</label>
          <app-input-password-generate
            (selectedValue)="form1.get('pass')?.setValue($event)"
            [class]="'form-control'"
          />
          <app-warning-input-forms
            [input]="form1.get('cities_id')"
            [name]="'Ciudad'"
            [alertCss]="'alert-warning'"
          ></app-warning-input-forms>
        </div>
        <div class="col-md-12">
          <label class="small mb-1" for="rut">PRIVILEGIO</label>
          <select class="form-control" formControlName="privileges_id">
            <option value="0">SELECCIONE</option>
            <option *ngFor="let item of types" [value]="item.id">
              {{ item.tag }}
            </option>
          </select>
        </div>
        <div class="col-md-12">
          <label class="small mb-1" for="location">Dirección</label>
          <input type="text" class="form-control" formControlName="location" />
        </div>
        <div class="col-md-12">
          <label class="small mb-1" for="location">Ciudad</label>
          <app-input-text-complete
            [items]="cities"
            (selectedOption)="form1.get('cities_id')?.setValue($event.id)"
            (selectedOption)="form1.get('city')?.setValue($event.tag)"
            [class]="'form-control'"
          />
          <app-warning-input-forms
            [input]="form1.get('cities_id')"
            [name]="'Ciudad'"
            [alertCss]="'alert-warning'"
          ></app-warning-input-forms>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="small mb-1" for="email">Email</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"
              ><i class="fa-regular fa-envelope"></i
            ></span>
            <input
              type="email"
              class="form-control"
              placeholder="Email  contacto"
              formControlName="email"
            />
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="small mb-1" for="phone">Tel.</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"
              ><i class="fa-solid fa-phone"></i
            ></span>
            <input
              type="email"
              class="form-control"
              placeholder="Telefono contacto"
              formControlName="phone"
            />
          </div>
        </div>
      </div>
      <button class="btn btn-primary w-100" type="submit">CREAR USUARIO</button>
    </div>
  </div>
</form>
