<div class="container register mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 register-left">
      <img
        src="https://bedadev.cl/logo_beda.png"
        class="img-fluid"
        alt="Logo bededadev.cl"
      />
      <p>
        <i
          ><b>Soluciones creativas e informáticas BEDA SpA,</b> proyectos
          digitales a medida.</i
        >
      </p>
      <a
        href="https://bedadev.cl"
        target="_blank"
        style="color: rgb(243, 232, 217); font-weight: bold"
        >Visítanos</a
      >
    </div>
    <div class="col-md-8 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="row register-form">
          <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
            <h2 class="text-center">{{ domain }}</h2>
            <p class="text-muted text-center">
              Sistema de gestión de Hotelero
            </p>

            <label for="email" *ngIf="restore">Ingrese su correo</label>
            <div class="input-group mb-3" *ngIf="restore">
              <span class="input-group-text"
                ><i class="fa-solid fa-envelope"></i
              ></span>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                placeholder="Email de registro"
              />
            </div>
            <div class="alert alert-info" *ngIf="send">
              <strong>Correo enviado</strong> Hemos enviado un enlace para
              modificar su contraseña a su cuenta correo, revíse su correo no
              deseado (spam), antes de volver a intentar.
              <button
                [disabled]="time > 0"
                (click)="restorePass()"
                type="button"
                class="btn btn-primary position-relative btn-sm"
              >
                Reenviar
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  {{ time }}
                  <span class="visually-hidden">Renvio de email</span>
                </span>
              </button>
            </div>
            <div class="input-group mb-3" *ngIf="!restore">
              <span class="input-group-text"><i class="fa fa-user"></i></span>
              <input
                type="text"
                formControlName="rut"
                class="form-control"
                (keyup)="onFormatRut($event)" autocomplete="off"
                placeholder="Usuario"
              />
            </div>
            <div class="input-group mb-4" *ngIf="!restore">
              <span class="input-group-text"><i class="fa fa-lock"></i></span>
              <input
                type="password"
                formControlName="pass"
                class="form-control"
                placeholder="Contraseña"
              />
            </div>

            <div class="row">
              <div class="col-md-12 col-lg-6">
                <button
                  *ngIf="!restore"
                  type="submit"
                  class="btn btn-primary px-4"
                  [disabled]="disabledSubmit"
                >
                  ACCEDER
                </button>
                <button
                  *ngIf="restore"
                  type="button"
                  class="btn btn-primary px-4"
                  [disabled]="time>0"
                  (click)="restorePass()"
                >
                  {{int>0?'REENVIAR':'SOLICITAR'}}
                </button>
              </div>
              <div class="col-md-12 col-lg-6 text-right" *ngIf="!restore">
                <button
                  type="button"
                  class="btn btn-link px-0"
                  (click)="restore = true"
                >
                  ¿Olvide mi contraseña?
                </button>
              </div>
              <div class="col-md-12 col-lg-6 text-right" *ngIf="restore">
                <button           type="button"
                class="btn btn-link px-0" (click)="restore=false"> Iniciar Sesión </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
