<div class="login-wrap mt-5">
  <div class="login-html">
    <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="text-center">
        <img src="assets/images/beda.png" class="img-fluid text-center" alt="Logo bededadev.cl"
          style="max-width: 80px;" /><br>
      </div>
      <br>
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">ACCEDER</label>
      <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">CAMBIAR
        CONTRASEÑA</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">Usuario</label>
            <input formControlName="rut" (keyup)="onFormatRut($event)" autocomplete="off" id="user" type="text"
              class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Contraseña</label>
            <input formControlName="pass" id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <re-captcha #captcha (resolved)="resolved($event)"
              siteKey="6LckoMsjAAAAAJQ_he_DupEF6DOMMkhcqPTxAdZZ"></re-captcha>
          </div>

          <div class="group">
            <input type="submit" class="button" value="Acceder">
          </div>
          <div class="hr"></div>
        </div>
        <div class="for-pwd-htm">
          <div class="group">
            <label for="user" class="label">Email</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <input type="button" class="button" value="Restablecer">
          </div>
          <div class="hr"></div>
        </div>
      </div>
      <span class="text-muted small"> <i>Desarrollado</i> por Soluciones creativas e informáticas BEDA SpA</span>
    </form>
  </div>
</div>