<form [formGroup]="form" (ngSubmit)="update()">
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase;">MODIFICAR RESERVACIÓN</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">

                <div class="mb-3 col-md-6" *ngIf="reservation?.check_ing">
                    <label for="fechaEntrada" class="form-label">Fecha de Ingreso</label>
                    <input formControlName="check_ing" type="date" class="form-control" id="fechaEntrada"
                        name="fechaEntrada">
                </div>
                <div class="mb-3 col-md-6" *ngIf="reservation?.hour_ing.length>0">
                    <label for="horaingreso" class="form-label">Hora de ingreso</label>
                    <input formControlName="hour_ing" type="time" class="form-control" id="horaingreso"
                        name="horaingreso">
                </div>


                <div class="mb-3 col-md-6" *ngIf="!reservation?.check_ing">
                    <label for="fechaEntrada" class="form-label">Fecha de ingreso</label>
                    <input formControlName="start" type="date" class="form-control"
                        (change)="form.get('end').setValue(form.get('start')?.value);filterReservations();calculePrice()"
                        id="fechaEntrada" name="fechaEntrada">
                </div>
                <div class="mb-3 col-md-6" *ngIf="!reservation?.check_ing">
                    <label for="fechaSalida" class="form-label">Fecha de salida</label>
                    <input formControlName="end" type="date" class="form-control" id="fechaSalida"
                        (change)="filterReservations();calculePrice()" name="fechaSalida">
                </div>

                <div class="col-md-12">
                    <label class="small mb-1" for="room_number">Habitación</label>
                    <div class="input-group">
                        <select formControlName="rooms_id" class="form-control"
                            (change)="onSelectedRoom();calculePrice()">
                            <option value="0">SELECCIONE</option>
                            <option *ngFor="let room of rooms" [value]="room?.id">{{room?.room_number |
                                uppercase}}</option>
                        </select>
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-bed"></i></span>
                        <input type="number" class="form-control" placeholder="0" formControlName="capacity">
                        <label class="input-group-text" for="inputGroupSelect01">Precio:</label>
                        <span class="input-group-text">{{this.form?.get('price').value |
                            currency:'CAD':'symbol-narrow':'3.0-0' | moneyClPipe}}</span>
                    </div>
                </div>
                <div class="col-md-12 mt-2" *ngIf="roomSelected!=null">
                    <label class="small mb-1">Servicios</label>
                    <div *ngIf="roomSelected?.amenities; else notAmenities">
                        <span class="badge rounded-pill badge-dark text-wrap ms-1"
                            style="font-size: 10px; font-weight: 400;"
                            *ngFor="let am of roomSelected.amenities">{{am.amenitie.tag}}</span>
                    </div>
                    <ng-template #notAmenities>
                        <span class="badge bg-danger">Sin servicios asociados</span>
                    </ng-template>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="room_number">Cliente</label>
                    <div class="input-group">
                        <span class="input-group-text">R.U.T/D.N.I</span>
                        <input formControlName="rut" type="text" aria-label="First name" class="form-control"
                            (keyup)="onFormatRut($event)">
                        <button *ngIf="btnNewClient" type="button" (click)="openModal(addClient)"
                            class="btn btn-primary"><i class="fa-solid fa-user-plus"></i></button>
                    </div>
                </div>
                <div class="row m-0 p-0 mt-3" *ngIf="client">
                    <h6>Cliente encontrado <button *ngIf="!reservation?.check_ing" type="button"
                            (click)="openModal(editClient)" class="btn"><i class="fa-solid fa-user-pen"></i></button>
                    </h6>
                    <div class="col-md-6">
                        <label for="name" class="small mb-1">Nombre</label>
                        <input type="text" formControlName="name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label for="lastname" class="small mb-1">Apellidos</label>
                        <input type="text" formControlName="lastname" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="small mb-1">Email</label>
                        <input type="email" formControlName="email" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="small mb-1">Telefono</label>
                        <input type="tel" formControlName="phone" class="form-control" />
                    </div>

                </div>
                <div class="col-md-12" *ngIf="!reservation?.check_ing">
                    <label class="small mb-1" for="room_number">Huespedes adicionales</label>
                    <div class="input-group">
                        <span class="input-group-text">Cantidad</span>
                        <input (keyup)="calculePrice()" (change)="calculePrice()" formControlName="aditional"
                            type="number" aria-label="aditional" class="form-control">
                        <span class="input-group-text">Precio $</span>
                        <input (keyup)="calculePrice()" (change)="calculePrice()" formControlName="price_aditional"
                            type="number" aria-label="Precio adicional" class="form-control">
                        <span class="input-group-text">C/U</span>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary w-100" type="submit">GUARDAR CAMBIOS</button>
        </div>
    </div>
</form>
<ng-template #addClient let-c="close " let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-add-client [modalRef]="modalOtherRef" [data]="contact" (record)="setClient($event)" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>

<ng-template #editClient let-c="close " let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-edit-client [modalRef]="modalOtherRef" [template]="'small'" [clients_id]="form.get('clients_id')?.value"
            (record)="setClient($event)" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>