<div class="container-fluid px-4 mt-4 mb-5" *ngIf="view">
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card h-100">
                <div class="card-header">
                    Abonos y descuentos
                    <div class="btn-group float-right" role="group">

                        <button *ngIf="!hiddenButton" class="btn btn-primary" (click)="openModal(add)"><i
                                class="fa-solid fa-circle-plus"></i>
                            Agregar</button>
                    </div>

                </div>
                <div class="card-body">
                    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="perpage"
                        (pageChange)="search()"></ngb-pagination>
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th><span></span></th>
                                    <th><span>FECHA</span></th>
                                    <th><span>MONTO</span></th>
                                    <th><span>DETALLE</span></th>
                                    <th><span>USUARIO</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items">
                                    <td>
                                        <span class="badge"
                                            [ngClass]="{'bg-danger': item?.payment?.id == 1, 'bg-primary':item?.payment?.id!=1}">{{item?.payment?.tag|
                                            uppercase}}</span>
                                        <app-send-default [tamplate_id]="2" [roomsId]="item?.reservations?.rooms_id" [clientsId]="item?.reservations?.clients_id" [reservationsId]="item?.reservations?.id" [paymentsId]="item?.id" [tag]="'Enviar link de pago'"  *ngIf="(item?.payment_id==7)&&(item?.confirmed==0)" />
                                    </td>
                                    <td>
                                        <span>{{item?.created_at | uppercase}}</span>
                                    </td>
                                    <td>
                                        {{item?.ammount | currency:'CAD':'symbol-narrow':'3.0-0' |
                                        moneyClPipe}}
                                        <span class="badge bg-warning"
                                            *ngIf="(item?.payment_id==7)&&(item?.confirmed==0)">Pendiente</span>
                                    </td>
                                    <td>
                                        {{item?.detail}}
                                    </td>
                                    <td>
                                        <span class="text-muted">Pago resgistrado por {{item?.users?.name}}
                                            {{item?.users?.lastname}}</span>
                                    </td>
                                </tr>
                                <tr *ngIf="!items">
                                    <td colspan="7" class="fw-lighter text-muted">No existen pagos registrados</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<ng-template #remove let-c="close" let-d="dismiss">
    <form (submit)="delete()" novalidate>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Eliminar registro</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>¿Esta seguro que desea eliminar este registro?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="d('Cross click')">No</button>
            <button type="submit" ngbAutofocus class="btn btn-danger">Si</button>
        </div>
    </form>
</ng-template>

<ng-template #add let-c="close " let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-add-payments [clientsId]="clients_id" [reservationsId]="reservations_id" [providersId]="providers_id"
            (success)="getPayments()"></app-add-payments>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>

<ng-template #sendEmail let-c="close" let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-send-mail [clients]="reservationSelected?.client" [data]="dataEmail" [modulesId]="moduleEmailId"
            *ngIf="reservationSelected?.client?.email" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>