.container {
    max-width: 100%;
    padding: 10px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .table {
    margin-top: 10px;
  }
  
  .table th {
    font-weight: bold;
    font-size: 16px;
  }
  
  .table td {
    vertical-align: middle;
    font-size: 16px;
  }
  