<form [formGroup]="form">
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase;">
            RESERVACIÓN N°
            {{form?.get('id')?.value}}<br><small>
                Check In : <i *ngIf="reservation?.check_ing" class="fa-solid fa-circle-check text-success"></i> <i
                    *ngIf="!reservation?.check_ing" class="fa-solid fa-circle-xmark text-danger"></i>
                Check Out: <i *ngIf="reservation?.check_out" class="fa-solid fa-circle-check text-success"></i><i
                    *ngIf="!reservation?.check_out" class="fa-solid fa-circle-xmark text-danger"></i>
            </small>
            <span style="max-width: 200px;" class="badge bg-dark ms-1">Hab: {{reservation?.rooms?.room_number}}</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4" *ngIf="reservation?.check_ing">
                    <label for="fechaEntrada" class="small">Fecha de Ingreso</label>
                    <input formControlName="check_ing" type="date" class="form-control form-control-sm"
                        id="fechaEntrada" name="fechaEntrada">
                </div>
                <div class="col-md-4" *ngIf="reservation?.hour_ing.length>0">
                    <label for="horaingreso" class="small">Hora</label>
                    <input formControlName="hour_ing" type="time" class="form-control form-control-sm" id="horaingreso"
                        name="horaingreso">
                </div>
                <div class="col-md-4" *ngIf="!reservation?.check_ing">
                    <label for="fechaEntrada" class="form-label">Fecha de ingreso</label>
                    <input formControlName="start" type="date" class="form-control form-control-sm" id="fechaEntrada"
                        name="fechaEntrada">
                </div>
                <div class="col-md-4" *ngIf="!reservation?.check_ing">
                    <label for="fechaSalida" class="form-label">Fecha de salida</label>
                    <input formControlName="end" type="date" class="form-control form-control-sm" id="fechaSalida"
                        name="fechaSalida">
                </div>

                <div class="col-md-4" *ngIf="reservation?.check_out">
                    <label for="fechaEntrada" class="small">Fecha de Salida</label>
                    <input formControlName="check_out" type="date" class="form-control form-control-sm"
                        id="fechaEntrada" name="fechaEntrada">
                </div>
                <div class="row mt-1 mb-1" *ngIf="reservation?.client">
                    <div class="col-md-12">
                        <b>Nombre Apellidos : </b> {{reservation?.client?.name}} {{reservation?.client?.lastname}}
                    </div>
                    <div class="col-md-12">
                        <b>Email: </b>{{reservation?.client?.email}} <b>Tel: </b>{{reservation?.client?.phone}}
                    </div>
                    <div *ngIf="reservation" class="col-md-12"><b>Saldo:</b>{{saldo |
                        currency:'CAD':'symbol-narrow':'3.0-0' |
                        moneyClPipe}}</div>

                    <app-summary-payment [view]="false" (saldoFinal)="setSaldo($event)" [reservations]="reservation"
                        [totalPayment]="totalPayment" />

                    <app-payments [view]="false" (totalPay)="setTotalPayment($event)"
                        [reservations_id]="reservation?.id" />

                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">

                <button *ngIf="(!reservation?.check_ing)&&(!reservation?.check_out)"
                    [routerLink]="['/hotel/habitaciones/check-in/', reservation?.id]" type="button"
                    class="btn btn-success"><i class="fa-solid fa-circle-info"></i> CHECK IN
                </button>
                <button *ngIf="(reservation?.check_ing)&&(reservation?.check_out)"
                    [routerLink]="['/hotel/habitaciones/check-out/', reservation?.id]" type="button"
                    class="btn btn-secondary"><i class="fa-solid fa-circle-info"></i> DETALLE
                </button>
                <button *ngIf="(reservation?.check_ing)&&(!reservation?.check_out)"
                    [routerLink]="['/hotel/habitaciones/check-out/', reservation?.id]" type="button"
                    class="btn btn-danger"><i class="fa-solid fa-file-pen"></i> CHECK OUT
                </button>
                <button title="Enviar email" *ngIf="(reservation?.client?.email)" type="button"
                    (click)="openModal(sendEmail,'lg')" class="btn btn-outline-secondary"><i
                        class="fa-solid fa-paper-plane"></i> <i class="ms-1 fa-solid fa-envelope"></i>
                </button>
                <button title="Registrar Pago" *ngIf="(reservation?.client?.email)" type="button"
                    (click)="openModal(addPayment,'md')" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-plus"></i><i class="ms-1 fa-solid fa-file-invoice-dollar"></i>
                </button>
                <button title="Registrar Pago" *ngIf="(reservation?.client?.email)" type="button"
                    (click)="generatePdf()" class="btn btn-outline-secondary">
                    <i class="fa-solid fa-download"></i> <i class="ms-1 fa-solid fa-file-pdf"></i>
                </button>
                <button title="Eliminar reserva" *ngIf="(!reservation?.check_ing)&&(!reservation?.check_out)" type="button"
                    (click)="openModal(deleteRes,'sm')" class="btn btn-outline-danger">
                    <i class="fa-solid fa-trash"></i>
                </button>


            </div>
        </div>
    </div>
</form>
<ng-template #sendEmail let-c="close" let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-send-mail [clients]="reservation?.client" [data]="dataEmail" [modulesId]="moduleEmailId"
            *ngIf="reservation?.client?.email" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>

<ng-template #addPayment let-c="close " let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-add-payments [reservationsId]="reservations_id"
            (success)="d('Cross click');notifySuccess()"></app-add-payments>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>

<ng-template #deleteRes let-c="close " let-d="dismiss">
    <div class="modal-body shadow-lg">
      <h6>¡Eliminar reserva!</h6>
      <div class="alert alert-warning"><strong>Advertencia</strong> Solo es posible eliminar reservas sin pago asociado.</div>
    </div>
    <div class="modal-footer">
        <div class="btn-group mr-2" role="group" aria-label="First group">
             <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
        </button>
        <button type="button" class="btn btn-danger" aria-label="Close" (click)="delete()"> Eliminar
        </button>   
        </div>
    
    </div>
</ng-template>