<nav class="navbar navbar-expand navbar-light bg-navbar  mb-4 shadow" stickyDesktop>

  <ul class="navbar-nav" *ngIf="isMobile">
    <li class="nav-item">
      <div class="ms-auto">
        <button class="btn btn-primary" (click)="toggleSidebar()">
          <i class="fa-solid fa-bars"></i>
        </button>
      </div>
    </li>
  </ul>
  <!--btn cash-->
  <!--<ul class="navbar-nav" *ngIf="totalSales>0">
    <li class="nav-item ms-2">
      Ventas {{totalSales | currency:'CAD':'symbol-narrow':'3.0-0' |
      moneyClPipe}} <i class="fa-solid fa-chart-line"></i>
    </li>
  </ul>-->
  <!--btn cash-->
  <!--Notifications-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
       <!--<li class="nav-item dropdown">
        <button type="button" class="btn btn-round me-4 position-relative" id="notificationsDropdown" role="button"
          data-bs-toggle="dropdown">
          <i class="fa-regular fa-bell"></i>
          <span *ngIf="unreadNotificationsCount>0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ unreadNotificationsCount }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
       <ul *ngIf="getOrderedNotifications()?.length>0" class="dropdown-menu dropdown-menu-end"
          aria-labelledby="notificationsDropdown" style="max-height: 250px; overflow-y: auto;">
          <li *ngFor="let notification of getOrderedNotifications()">
            <a class="dropdown-item" href="#" [ngClass]="{'read-notification':notification?.status=='read'}"
              (click)="markNotificationAsRead(notification.reservationId);openModal(viewReservations,'md')">
              <i class="fa-solid fa-triangle-exclamation text-warning"></i> {{ notification.message }}
            </a>
          </li>
        </ul>
      </li>-->
    </ul>
  </div>
  <!--/notifications-->
  <ul class="navbar-nav ms-auto">
    <!-- Resto del código de otros elementos -->
    <li class="nav-item dropdown no-arrow">
      <button class="btn   dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline small">{{profile.name}}</span>
        <img class="img-profile rounded-circle" style="max-width: 30px;" [src]="profile.thumbnail">
      </button>
      <ul class="dropdown-menu dropdown-menu-end me-5" style="margin-right: 5px !important;">
        <li>
          <a class="dropdown-item" routerLink="/configuracion/colaboradores/perfil">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Mi Cuenta
          </a>
        </li>
        <li>
          <a class="dropdown-item" href="#" (click)="logout()">
            <i class="fa-solid fa-lock fa-sm fa-fw mr-2 text-gray-400"></i> Salir
          </a>
        </li>
      </ul>
    </li>
  </ul>

</nav>
