<form [formGroup]="primaryForm" >
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase;">AGREGAR DINERO</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="small mb-1" for="room_number">Cantidad </label>
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping">$</span>
                        <input type="number" class="form-control" placeholder="0" formControlName="ammount">
                        <label class="input-group-text" for="inputGroupSelect01">Pesos <i
                                class="fa-solid fa-hand-holding-dollar"></i></label>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="room_number">Motivo</label>
                    <input type="text" class="form-control" placeholder="Descripción del ingreso." formControlName="detail">
                </div>
            </div>
            <button class="btn btn-primary w-100" type="button" (click)="openValidation(validation,'sm')">REGISTRAR</button>
        </div>
    </div>
</form>
<ng-template  #validation let-c="close " let-d="dismiss">
    <div class="modal-body shadow-lg">
        <app-pos-validation [modalRef]="modalRef"
            (success)="d('Cross click');create($event)" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="d('Cross click')"> Cancelar
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</ng-template>