<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-3 p-4">
                    <app-toolbar-search *ngIf="!hideFilter" (onFilter)="onSearch(null,$event)" [hideSearch]="true" [filters]="categorys" />
                    <span>Buscador de Productos</span>
                </div>
                <div class="col-9 p-4" *ngIf="!hideSearch">
                    <app-toolbar-search (onSearch)="onSearch($event)" id="search" [hideFilter]="true" [placeholder]="'Escriba el nombre del producto'" />
                </div>

            </div>
        </div>
    </div>
    <div class="row" *ngIf="items">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="search-result">
                            <div class="result-body">
                                <div class="table-responsive">
                                    <table class="table widget-26">
                                        <tbody>
                                            <tr *ngFor="let item of items">
                                                <td>
                                                    <div class="widget-26-job-emp-img">
                                                        <img [src]="item.image" [defaultImage]="'default'" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="widget-26-job-title">
                                                        <a href="#">{{item.name | uppercase}}</a>
                                                        <p class="m-0">
                                                            <i class="fa-solid fa-barcode"></i> {{item.barcode |
                                                            uppercase}} {{item.serie |
                                                                uppercase}} {{item.sku |
                                                                    uppercase}} {{item.id 
                                                                        }}
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>
                                                    <span class="text-muted time"><b>Marca</b> {{item.brand}}
                                                        <b>Modelo</b> {{item.model}}</span>
                                                </td>
                                                <td>
                                                    <span class="text-muted time"><b>Stock</b> {{item?.amount}}
                                                        </span>
                                                </td>
                                                <td>
                                                    <button *ngIf="viewEdit" type="button" class="btn   text-warning"
                                                        (click)="selectedEdit(item)">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </button>
                                                    <button *ngIf="viewDelete" type="button" class="btn  text-danger"
                                                        (click)="selectedDelete(item)">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa-solid fa-trash fa-stack-1x fa-inverse"></i>
                                                        </span>
                                                    </button>
                                                    <button *ngIf="viewSelected" type="button" class="btn text-success"
                                                        (click)="selectedItem(item)">
                                                        <span class="fa-stack">
                                                            <i class="fa fa-square fa-stack-2x"></i>
                                                            <i class="fa-solid fa-check fa-stack-1x fa-inverse"></i>
                                                        </span>

                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <nav class="d-flex justify-content-center" *ngIf="totalPage>0">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="perpage"
                            (pageChange)="search()"></ngb-pagination>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>