<label class="small mb-1" for="vyoutube">Video Youtube</label>
<div class="input-group mb-3">
    <span class="input-group-text text-danger" id="basic-addon1"><i class="fa-brands fa-youtube"></i></span>
    <input type="text" class="form-control" [disabled]="true" *ngIf="form.get('input').value" value="VIDEO AGREGADO">

    <button type="button" class="btn-sm btn btn-outline-success" (click)="openYoutube('vyoutube',youtube)"
        id="btnGroupAddon"><i class="fa-solid fa-circle-plus"></i></button>
</div>
<iframe *ngIf="viewYoutube &&(urlYoutube || embedYoutube)" class="iframe-responsive"  [src]="viewYoutube" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>



<ng-template #youtube let-c="close" let-d="dismiss">

        <div class="modal-header">
            <h6>Insertar Video Youtube</h6>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Ingrese a youtube, copie y pegue la dirección URL <br><span class="text-muted">(ej:
                    https://www.youtube.com/watch?v=CCPQIZ0HUbw)</span></p>
            <label for="basic-url">Peque aquí <i class="fa-solid fa-arrow-down"></i></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                    [(ngModel)]="urlYoutube">
                <span class="input-group-text"><i class="fa-brands fa-youtube mt-1 text-danger"></i></span>
                <button *ngIf="urlYoutube" type="button" (click)="addVideoYoutube();d('Cross click')" 
                    class="btn btn-sm btn-round btn-success"><i class="fa-solid fa-check-double"></i></button>
            </div>
        </div>


</ng-template>