<form [formGroup]="primaryForm" (ngSubmit)="validate()">
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase; font-weight: bold;">VALIDAR OPERACIÓN</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="small mb-1" for="room_number">Ingrese su RUT </label>
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                        <input
                        type="text"
                        formControlName="rut"
                        class="form-control"
                        (keyup)="onFormatRut($event)" autocomplete="off"
                        placeholder="RUT"
                      />
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="room_number">Contraseña </label>
                    <div class="input-group">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                        <input type="password" class="form-control"  formControlName="pass">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary w-100" type="submit">AUTORIZAR</button>
        </div>
    </div>
</form>