<div class="table-responsive mt-4 alert alert-primary" *ngIf="view">
    <h6>Resumen de cargos y pagos</h6>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody *ngIf="charges; else notCharges">
            <tr *ngFor="let charge of charges">
                <td>{{charge?.created_at | date}}</td>
                <td>{{charge?.detail}}</td>
                <td>{{charge?.ammount | currency:'CAD':'symbol-narrow':'3.0-0' |
                    moneyClPipe}}</td>
            </tr>
            <tr *ngIf="subTotal>0" class="mb-1 mt-1" style="font-weight: 600;">
                <td colspan="2">Subtotal</td>
                <td>{{subTotal| currency:'CAD':'symbol-narrow':'3.0-0' |
                    moneyClPipe}}</td>
            </tr>
            <tr *ngIf="totalPayment>0" class="mb-1 mt-1  text-danger">
                <td colspan="2">Descuentos y pagos</td>
                <td>-{{totalPayment| currency:'CAD':'symbol-narrow':'3.0-0' |
                    moneyClPipe}}</td>
            </tr>
            <tr class="alert alert-dark">
                <td colspan="2">Saldo pendiente</td>
                <td>{{saldo | currency:'CAD':'symbol-narrow':'3.0-0' |
                    moneyClPipe}}</td>
            </tr>
        </tbody>
        <ng-template #notCharges>
            <tbody>
                <tr>
                    <td colspan="7" class="fw-lighter text-muted">No se encontraron cobros</td>
                </tr>
            </tbody>
        </ng-template>

    </table>
</div>