<form [formGroup]="form" (ngSubmit)="update()" *ngIf="room!=null">
    <div class="card">
        <div class="card-header text-center" style="text-transform: uppercase;">EDITAR HABITACIÓN</div>
        <div class="card-body">
            <div class="row gx-3 mb-3">
                <div class="col-md-12">
                    <label class="small mb-1" for="room_number">Numero Habitación</label>
                    <input type="text" class="form-control" formControlName="room_number">
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="room_type">Tipo de Habitación</label>
                    <input type="text" class="form-control" formControlName="room_type">
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="capacity">Cant. Camas</label>
                    <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-bed"></i></span>
                        <input type="number" class="form-control" placeholder="0" formControlName="capacity">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="neto">NETO</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" formControlName="neto" (keyup)="calculePrice()"
                            (change)="calculePrice()">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="small mb-1" for="tax">IMPUESTO</label>
                    <div class="input-group">
                        <input type="number" class="form-control" formControlName="tax" (keyup)="calculePrice()"
                            (change)="calculePrice()">
                        <div class="input-group-append">
                            <span class="input-group-text">IVA</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <div class="alert alert-info" style="font-weight:bold;">Precio final
                        {{form.get('price').value| currency:'CAD':'symbol-narrow':'3.0-0' | moneyClPipe }}</div>
                    <input type="hidden" class="form-control" formControlName="price">
                </div>

            </div>
            <button class="btn btn-primary w-100" type="submit">GUARDAR CAMBIOS</button>
        </div>
    </div>
</form>