/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
	margin:0;
	background:#c8c8c8;
	background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed;
	background-size: cover;

}

.modal-backdrop {
    z-index: 99 !important;
}

.bg-grey {
    background-color: rgb(250, 242, 242);
}

.btn-round {
    border-radius: 50% !important;
    height: auto;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.btn-primary {
    background-color: rgb(14, 113, 199) !important;
}

.card-btn {
    cursor: pointer;
}

.card-btn:hover {
    background-color: rgb(255, 255, 206) !important;
}

.text-bold {
    font-weight: bold !important;
}

.text-primary {
    color: #2f74b4 !important;
}

.text-warning {
    color: #ff9e5dec !important;
}

.text-danger {
    color: #d15757 !important;
}

.text-bg-danger {
    background-color: #d15757 !important;
    color: #ffffff !important;
}

.text-circle {
    text-align: center;
    background-color: #000;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}

.btn-warning {
    background-color: #f76809ec !important;
}

/**editor ngx**/
.NgxEditor {
    background: white;
    color: #000;
    background-clip: padding-box;
    border-radius: 4px;
    border: none !important;
    position: relative;
}

.bg-success-light {
    background-color: rgb(169, 208, 169);
}

.bg-danger-light {
    background-color: rgb(206, 99, 113);
}

/* Estilos específicos para resoluciones de dispositivos móviles */
@media (max-width: 768px) {

    /* Reglas de estilo para dispositivos con un ancho máximo de 768px */
    body {
        margin: 0;
        padding: 0;
    }

    .container-fluid {
        margin: 0 !important;
        padding: 0 !important;
    }

}
/**reglas modal danger*/
.modal-backdrop-danger {
    --bs-backdrop-zindex: 1050 !important;
    --bs-backdrop-bg: #b22424 !important;
    --bs-backdrop-opacity: 0.8 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg) !important;
}

  
.custom-bread-crumb{
    border-radius: 15px !important;
    padding: 5px 5px 5px 15px !important;
    color: white !important;
}
.custom-bread-crumb .ng-star-inserted{
    color: white !important;
}