<div class="container-fluid mt-5">
    <!-- end row -->
    <div class="row">
        <div class="col-xl-4">
            <!-- Personal-Information -->
            <div class="card-box">
                <h4 class="header-title mt-0">Información personal</h4>
                <div class="panel-body">
                    <p class="text-muted font-13">
                        En este apartado pudes encontrar tu información como usuario, que puede estar o no visible para
     +                   tus visitantes .</p>
                    <hr>
                    <div class="text-left">
                        <p class="text-muted font-13"><strong>Nombre y apellidos :</strong> <span class="m-l-15">Jorge Morales</span></p>
                        <p class="text-muted font-13"><strong>Telefono :</strong><span class="m-l-15">(+56) 12345678</span></p>
                        <p class="text-muted font-13"><strong>Email :</strong> <span
                                class="m-l-15">jorgexxxxxx@gmail.com</span></p>
                        <p class="text-muted font-13"><strong>Ubicación :</strong> <span class="m-l-15">Chile</span></p>                        
                    </div>                    
                </div>
            </div>
            <!-- Personal-Information -->
            <div class="card-box ribbon-box">
                <div class="ribbon ribbon-primary">Alertas</div>
                <div class="clearfix"></div>
                <div class="inbox-widget">
                    <a href="#">
                        <div class="inbox-item">

                            <p class="inbox-item-author">Aviso</p>
                            <p class="inbox-item-text">Tu cuenta esta por vencer</p>
                            <p class="inbox-item-date">
                                <button type="button"
                                    class="btn btn-icon btn-sm waves-effect waves-light btn-success">Pagar</button>
                            </p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="inbox-item">
                            <p class="inbox-item-author">Orden de compra</p>
                            <p class="inbox-item-text">Una orden de compra a sido aprobada</p>
                            <p class="inbox-item-date">
                                <button type="button"
                                    class="btn btn-icon btn-sm waves-effect waves-light btn-success">Revisar</button>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-sm-4">
                    <div class="card-box tilebox-one"><i class="icon-layers float-right text-muted"></i>
                        <h6 class="text-muted text-uppercase mt-0">Ventas</h6>
                        <h2 class="" data-plugin="counterup">0</h2><span class="badge badge-custom">0%
                        </span><span class="text-muted"> Desde el ultimo periodo</span>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-sm-4">
                    <div class="card-box tilebox-one"><i class="icon-paypal float-right text-muted"></i>
                        <h6 class="text-muted text-uppercase mt-0">Reuniones</h6>
                        <h2 class=""><i class="fa-solid fa-calendar-days"></i><span data-plugin="counterup"> 5</span></h2>
                        <span class="text-muted">Esta semana</span>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-sm-4">
                    <div class="card-box tilebox-one"><i class="icon-rocket float-right text-muted"></i>
                        <h6 class="text-muted text-uppercase mt-0">Productos</h6>
                        <h2 class="" data-plugin="counterup">10</h2><span class="text-muted">En bodega</span>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>