table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 5px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td {
  border: 1px solid #ddd;
}

.reserved {
  background-color: #ffcccc;
}

.selected {
  background-color: #b3d9ff;
}


.fecha-header {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  /* Ajusta el color de fondo según tus necesidades */
  z-index: 1;
}

.habitaciones-header {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff;
  /* Cambia el color de fondo según tus necesidades */
}


.table-container {
  position: relative;
  overflow: auto;
  height: 600px;
  /* Ajusta la altura según tus necesidades */
}

/** toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.toolbar-btns {
  display: flex;
  align-items: center;
}

.toolbar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toolbar-btn:hover {
  background-color: #ddd;
}

.toolbar-month {
  font-size: 18px;
  font-weight: bold;
}

td.reserved {
  border-right: none;
}

td.reserved+td.reserved {
  border-left: none;
}


.table-container {
  position: relative;
  overflow: auto;
  height: 600px;
  /* Ajusta la altura según tus necesidades */
}

.reserved {
  position: relative;
}

.first-reservation {
  padding-left: 2px !important;
  margin-left: 5px !important;
  border-left:  dashed rgb(70, 69, 69) !important;
  content: '<div>RESERVA</div>';
}