<div class="container-fluid">
    <form novalidate [formGroup]="primaryForm" (ngSubmit)="update()">
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-4">
                    <div class="card-header">Editar categoria</div>
                    <div class="card-body">

                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">Tag (Max 50 caracteres)</label>
                            <input class="form-control" id="title" type="text" placeholder="Nombre visible" formControlName="tag">
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1" for="inputFirstName">Descripción</label>
                            <input class="form-control" id="inputFirstName" type="text" placeholder="Breve descripción de la categoria" formControlName="detail">
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <div class="mb-1">
                                    <label for="category_id" class="form-label">Categoria Padre</label>
                                    <select id="category_id" class="form-control" formControlName="category_id">
                                        <option value="0">SELECCIONE</option>
                                        <option *ngFor="let item of categorys" value="{{item.id}}">{{item.tag |
                                            uppercase}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-1">
                                    <label for="state_id" class="form-label">Estado</label>
                                    <select id="state_id" class="form-control" formControlName="state_id">
                                        <option *ngFor="let item of status" value="{{item.id}}">{{item.tag | uppercase}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <input type="submit" class="btn  btn-primary" value="GUARDAR CAMBIOS" />
                            <button type="button" class="btn  btn-secondary" routerLink="/noticias/categorias/nuevo"> NUEVO</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </form>
</div>