<body id="page-top">

    <div id="wrapper">

        <!-- sidebar -->
        <app-main-sidebar></app-main-sidebar>
        <!-- /sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- main -->
            <div id="content">

                <!-- main nav -->
                <app-main-nav></app-main-nav>
                <!-- /man nav -->

                <!--breadcrumb-->
                <div  class="container-fluid" stickyMobile>
                   <!-- <app-ng-dynamic-breadcrumb [bgColor]="'#3768ae'" [ngStyle]="{margin:0}" [fontColor]="'#ffffff'" [fontSize]="'0.9em'"></app-ng-dynamic-breadcrumb>-->
                </div>
                <!--/breadcrumb-->
                <!-- content -->
                <div  class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
                <!-- /content -->

            </div>
            <!-- main -->

            <!-- footer -->
            <app-main-footer></app-main-footer>
            <!-- /footer -->

        </div>

    </div>
</body>